ion-content {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.full-screen {
  height: 100%; /* Ocupar toda la altura disponible */
}

.full-card {
  height: 100%; /* Ocupar toda la altura disponible */
  border-radius: 0; /* Sin bordes redondeados */
  
}

.page-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 16px; /* Añade un espacio alrededor del contenido */
  max-width: 100%; /* Asegura que ocupe el ancho completo */
  box-sizing: border-box; /* Considera los márgenes y padding en el tamaño total */
}


.profile-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-photo ion-img {
  width: 100px; /* Ajusta el tamaño según tus necesidades */
  height: 100px; /* Ajusta el tamaño según tus necesidades */
  border-radius: 50%; /* Hace que la imagen sea circular */
  cursor: pointer; /* Cambia el cursor al pasar sobre la imagen */
}

.text-center {
  text-align: center; /* Centra el texto */
}

ion-card {
  margin: 10px;
  padding: 20px;
  width: 100%; /* Ocupa todo el ancho disponible */
}

ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
}

ion-accordion {
  margin-top: 10px;
}

ion-accordion ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
}

ion-accordion-group {
  margin-top: 20px;
}

ion-icon {
  cursor: pointer; /* Cambia el cursor al pasar sobre el icono */
}

.profile-photo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.profile-photo {
  width: 100px; /* Ajusta el tamaño según lo necesites */
  height: 100px; /* Ajusta el tamaño según lo necesites */
  border-radius: 50%; /* Para que sea redonda */
  margin-bottom: 10px;
}

ion-img {
  border-radius: 50%; /* Hace la imagen circular */
  width: 120px; /* Tamaño de la imagen */
  height: 120px;
  object-fit: cover; /* Asegura que la imagen mantenga su proporción */
}

.accordion-row {
  display: flex;
  justify-content: space-between; /* Espacia los acordeones */
  gap: 10px; /* Espacio entre los acordeones */
}

ion-accordion {
  flex: 1; /* Hace que ambos acordeones ocupen el mismo espacio */
}

/* Ajustes para que la página ocupe toda la pestaña */
.page-content {
  padding: 16px; /* Añade un espacio alrededor del contenido */
  max-width: 100%; /* Asegura que ocupe el ancho completo */
  height: 100%; /* Asegura que ocupe la altura completa de la pantalla */
  box-sizing: border-box; /* Considera los márgenes y padding en el tamaño total */
}

ion-card {
  width: 100%; /* Asegura que la tarjeta ocupe todo el ancho disponible */
}
